# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

backups
syntacticframes_project/export/verbenet/
syntacticframes_project/assets/less/custom.css
syntacticframes_project/public/
