Django<1.9
psycopg2
lxml
django-reversion
pytz
django-pipeline

# /!\ we rely on the internal function
# mptt.templatetags.mptt_tags.cache_tree_children in
# syntacticframes.views.translations
django-mptt
