/*! project specific CSS goes here. */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.left { float: left }
.right { float: right }

.sidebar-nav { padding: 9px 0 }

.both { color: purple }
.ladl, h2 [data-field="ladl_string"] { color: green }
.lvf, h2 [data-field="lvf_string"] { color: red }
.unknown { color: gray }
.hover { background-color: black; color: white }
h2 a { text-decoration: underline }

h2 form { display: inline }
h2 form input { width: 5em; font-size: 31.5px }

.subclass {
  margin-left: 4em;
}

.frame {
  border: 1px solid black;
  margin: 5px 0 0 0;
  padding: 9px;
  list-style-type: none;
}

.table { margin-bottom: 0 }
.frame td:first-child { width: 8em }

.frame [data-field="syntax"] { font-weight: bold }

.frame form { margin-bottom: 0 }
.frame:after { clear: both }
.frame input { padding: 1px; margin-bottom: 0 }
.frame table input { width: 80% }
.frame button[type="submit"] { margin-top: 1em }

.new_frame button { margin-top: 0.5em }
