/*! project specific CSS goes here. */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.frame .form-control, .role .form-control, .form-new_role .form-control {
    display: inline;
}
.role .form-control, .form-new_role .form-control { width: auto }

.navbar.navbar-inverse {
    background-image: linear-gradient(to bottom, black 60%, #2a2a2a 100%)
}

.navbar-inverse .navbar-header a { color: white }
.navbar-inverse .nav.navbar-nav li a { color: #ccc }

.left { float: left }
.right { float: right }

.sidebar-nav { padding: 9px 0 }
.nav-list li { margin-top: 1px }
.sidebar-nav .nav li a { padding: 5px 8px }

/* Search */
.navbar form {
    float: right;
    margin: 13px 0;
    height: 26px;
}

.navbar form input {
    margin-bottom: 0;
    margin-right: 5px;
    padding: 2px 2px;
    display: inline;
    width: auto;
    height: 26px;
}

.navbar .btn {
    padding: 2px 6px;
    vertical-align: 5%;
    font-size: 13px;
    height: 26px;
}

.search_results a {
    color: inherit;
}
/* end search */

/* align with h1 */
.col-md-3 { margin-top: 20px; }

li.selected > a {
    font-weight: bold;
    border-left: 5px solid black;
    padding-left: 10px;
}

/* Levin class display */
h1 {
    text-align: center;
}
h1.TRANSLATED > .text {
    padding: 0 0.5em;
    background-color: #46A546;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    color: white;
}
.REMOVED {
    text-decoration: line-through;
}

/* Subclass title */
h2 form { display: inline }
h2 form input { width: 5em; font-size: 31.5px }

/* Links to class names */
h2[name], h3[name] {
  padding-top: 60px;
  margin-top: -60px;
}

h2[name] a {
 text-decoration: none;
}

h2 {
    font-weight: bold;
}

.glyphicon {
    color: black
}

#ajax-ok, #ajax-loading {
    margin: 18px 0
}
#ajax-ok { color: white }

.glyphicon-share-alt {
    vertical-align: top;
    font-size: 14px;
    color: black;
}

/* Mapping display */
[data-field="ladl_string"], [data-field="lvf_string"] {
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-size: 24.5px;
    margin: 10px 0;
}

/* Verbs display */
.both, [data-verb-category='both'] { color: purple }
.ladl, [data-field="ladl_string"], [data-verb-category='ladl'] { color: green }
.ladlindex .ladl { font-weight: bold; }
.lvf, [data-field="lvf_string"], [data-verb-category='lvf'] { color: red }
.unknown { color: gray }
.hover { background-color: black; color: white }
h2 a { text-decoration: underline }

.VALID {
    font-weight: bold;
    text-decoration: underline;
}

/* Subclass indentation */
.subclass {
  margin-left: 4em;
}

article > .subclass {
  margin-left: 0;
}

/* Frameset display */

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 5em;
}

[data-field="lvf_string"] + textarea, [data-field="ladl_string"] + textarea {
    height: 4em;
}

/* Frame display */
.frame {
  border: 1px solid black;
  margin: 10px 0;
  padding: 9px;
  list-style-type: none;
}

.created_frame {
  background-color: #d8f8d8;
}

.table { margin-bottom: 0 }
.frame td:first-child { width: 8em }

.frame [data-field="syntax"] { font-weight: bold }

.frame form { margin-bottom: 0 }
.frame:after { clear: both }
.frame table input { width: 70% }

.new_frame button { margin-top: 0.5em }

/* Roles */
.role a { visibility: hidden }
.role a.visible { visibility: visible }
.new_role.glyphicon, .role .glyphicon { vertical-align: -10% }

/* Auth */
.warning { color: red }

/* Stats */
table.emptytranslations .entry { width: 20em }

/* JS edits */

textarea.inedit + .btn { margin-bottom: 1em }
input.inedit + .btn { margin: 0 5px }
input.inedit[type='text'] { margin-bottom: 0 }

/* Search */
.highlight { font-weight: bold }
