{% load staticfiles %}<!DOCTYPE html>
{% load syntacticframes_extras %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}VerbeNet{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Annotate VerbeNet syntactic frames">
    <meta name="author" content="Quentin Pradet">

    <!-- Le styles -->
    <link href="{% version 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% version 'css/project.css' %}" rel="stylesheet">
    <link href="{% version 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <div class="ajax-status" id="ajax-ok" style="display:none; position: absolute; right: 10px; top: 10px; z-index: 10000"><p><i class="icon-ok icon-white"></i></p></div>
    <div class="ajax-status" id="ajax-loading" style="display: none; z-index: 10000; position: absolute; right: 10px; top: 10px"><p><img src="{% static 'img/loading.gif' %}" /></p></div>
    <div class="ajax-status" id="ajax-error" style="display: none; z-index: 10000; position: absolute; right: 10px; top: 10px"><p><i class="icon-remove icon-white"></i></p></div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!--
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          -->
          <a class="brand" href="#">VerbeNet</a>
          <!--
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i>Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </div>

    {% block all %}
    <div class="container">

      <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% version 'js/jquery.min.js' %}"></script>
    <script src="{% version 'js/bootstrap.min.js' %}"></script>
    <script src="{% version 'js/jquery.inedit.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% version 'js/project.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
