{% load mptt_tags %}
{% load syntacticframes_extras %}

        <article data-name="{{classe.name}}">
            {# Title: class name and LVF/LADL #}
            <h2>

                {# LVF class: inline editing and links #}
                <a class="verbnet" href="http://verbs.colorado.edu/verb-index/vn/{{classe.name}}.php">{{classe.name}}</a>
                <span class="vnclass_editable" data-field="lvf_string">{% spaceless %}
                    {% if classe.lvf_string %}
                        {{ classe.lvf_string }}
                    {% else %}
                        ∅
                    {% endif %}
                {% endspaceless %}</span>
                {% if classe.lvf_string and classe.lvf_string != '∅' %}
                    <a href="http://rali.iro.umontreal.ca/Dubois/classe/{{classe.lvf_string}}.html" class="external"><i class="icon-share-alt"></i></a>
                {% endif %}

                {# LADL table: inline editing and links #}
                <span class="vnclass_editable" data-field="ladl_string">{% spaceless %}
                    {% if classe.ladl_string %}
                         {{ classe.ladl_string }}
                    {% else %}
                        ∅
                    {% endif %}
                {% endspaceless %}</span>
                {% if classe.ladl_string and classe.ladl_string != '∅' %}
                    <a href="http://verbenet.pradet.me/verbes-html/V_{{classe.ladl_string}}.lgt.html" class="external"><i class="icon-share-alt"></i></a>
                {% endif %}

            </h2>

            {# Paragon and comment #}
            <p>
                <span class="vnclass_editable" data-field="paragon">{% spaceless %}
                {% if classe.paragon %}
                    {{ classe.paragon }}
                {% else %}
                    ∅
                {% endif %}
                {% endspaceless %}</span>
                |
                <span class="vnclass_editable" data-field="comment">{% spaceless %}
                {% if classe.comment %}
                    {{ classe.comment }}
                {% else %}
                    ∅
                {% endif %}
                {% endspaceless %}</span>
            </p>

            {# Recursive display of frame sets #}
            {% recursetree classe.verbnetframeset_set.all %}
            {% if node.removed %}
                <h3 id="{{node.name}}">Classe {{node.name}} cachée</h3>
            {% else %}
                <h3 id="{{node.name}}">Classe {{node.name}}</h3>
                <p><button class="btn new_subclass" data-frameset_id="{{node.name}}"><i class="icon-chevron-right"></i> Ajouter une sous-classe</button></p>
                <p><button class="btn remove_subclass" data-frameset_id="{{node.name}}"><i class="icon-remove"></i> Cacher cette sous-classe</button></p>

                {# Members #}
                <p class="members">Membres :
                    {% if not node.verbnetmember_set.all %}
                        ∅
                    {% else %}
                        {% for word in node.verbnetmember_set.all %}<span>{{ word }}</span> {% endfor %}
                    {% endif %}
                </p>

                {# Translations #}
                <p class="translations">Traductions :
                    {% if not node.verbtranslation_set.all %}
                        ∅
                    {% else %}
                        {% for word in node.verbtranslation_set.all|sort_translations %}
                        {% spaceless %}
                            <span {% if word.category == 'unknown' or word.category = 'dicovalence' %} style="display:none" {% endif %} class="{{word.category}}" data-origin="{{word.origin}}">{{word.verb}}</span>
                        {% endspaceless %}{% endfor %}
                    {% endif %}
                </p>

                {# Roles #}
                <p>Roles :
                    {% if not node.verbnetrole_set.all %}
                        ∅
                    {% else %}
                        {% for role in node.verbnetrole_set.all %}
                            {{ role.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </p>

                {# Frames #}
                {% if node.verbnetframe_set.all|is_removed:False %}
                    {% for frame in node.verbnetframe_set.all|is_removed:False %}
                        <div class="frame" data-frameid="{{frame.id}}">
                            <a class="remove_frame" href="#"><i class="right icon-remove"></i></a>
                            <p><span class="frame_editable" data-field="syntax">{{ frame.syntax }}</span></p>
                            <table class="table">
                                <tr><td>Exemple</td><td><span class="frame_editable" data-field="example">{% if frame.example %}{{ frame.example }}{% else %}∅{% endif %}</span></td></tr>
                                <tr><td>Syntaxe</td><td><span class="frame_editable" data-field="roles_syntax">{% if frame.roles_syntax %}{{ frame.roles_syntax }}{% else %}∅{% endif %}</span></td></tr>
                                <tr><td>Sémantique</td><td><span class="frame_editable" data-field="semantics">{% if frame.semantics %}{{ frame.semantics }}{% else %}∅{% endif %}</span></td></tr>
                            </table>
                        </div>
                    {% endfor %}
                {% endif %}

                {# Deleted frames #}
                {% if node.verbnetframe_set.all|is_removed:True %}
                    <p>Frames supprimées :</p>
                    <ul>
                    {% for frame in node.verbnetframe_set.all|is_removed:True %}
                        <li id="frame_{{frame.id}}">{{ frame.syntax }} ({{ frame.example }})</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <p>
                  <button class="btn new_frame"><i class="icon-plus"></i> Ajouter une frame</button>
                </p>
                <div class="frame" style="display:none">
                    <form action="/add/" class="new_frame" method="POST">{% csrf_token %}
                        <p>
                            <input type="text" name="syntax" placeholder="NP V NP" />
                            <input type="hidden" name="type" value="frame" />
                            <input type="hidden" name="frameset_id" value="{{node.id}}" />
                            <input type="hidden" name="vn_class_id" value="{{classe.id}}" />
                        </p>
                        <table class="table">
                            <tr><td>Exemple</td><td><input type="text" name="example" /></td></tr>
                            <tr><td>Syntaxe</td><td><input type="text" name="roles_syntax" /></td></tr>
                            <tr><td>Sémantique</td><td><input type="text" name="semantics" /></td></tr>
                        </table>
                        <p><button type="submit" value="Envoyer" class="btn btn-primary">Envoyer</button></p>
                    </form>
                </div>
            {% endif %}

            {# Rinse and repeat with children #}
            {% if not node.is_leaf_node %}
                <div class="subclass">
                    {{ children }}
                </div>
            {% endif %}
            {% endrecursetree %}
        </article>

