{% load mptt_tags %}
{% load syntacticframes_extras %}

        <article id="{{classe.name}}">
            {# Title: class name and LVF/LADL #}
            <h2 name="{{classe.name}}">
                <a href="#{{ classe.name }}">{{ classe.name }}</a>
                <a href="http://verbs.colorado.edu/verb-index/vn/{{classe.name}}.php" class="external"><i class="icon-share-alt"></i></a>
            </h2>

            <div class="class_editable" data-text="{{classe.comment|default:"∅"}}">
                {{ classe.comment|default:"∅"|linebreaks }}
            </div>

            {# Recursive display of frame sets #}
            {% recursetree classe.verbnetframeset_set.all %}
            <div class="subclass" id="{{node.id}}">
                {% if node.removed %}
                    <h3 id="{{node.name}}" name="{{node.name}}">
                        Classe {{node.name}} cachée
                        {% if user.is_authenticated %}
                            <button class="btn show_subclass" data-frameset_id="{{node.name}}"><i class="icon-repeat"></i> Montrer</button>
                        {% endif %}
                    </h3>

                    <p>Frames :</p>
                    <ul>
                    {% for frame in node.verbnetframe_set.all %}
                        <li id="frame_{{frame.id}}">
                            {% if frame.removed %}<del>{% endif %}
                            {{ frame.syntax }} ({{ frame.example }})
                            {% if frame.removed %}</del>{% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h3 id="{{node.name}}" name="{{node.name}}">Classe {{node.name}}
                        {# LVF class: inline editing and links #}
                        <span class="frameset_editable" data-text="{{node.lvf_string}}" data-field="lvf_string">{% spaceless %}
                            {% for text, class_name in node.lvf_parts %}
                                {{ text }}
                                {% if class_name %}
                                    <a href="http://rali.iro.umontreal.ca/LVF+1/classe/{{class_name}}.html" class="external"><i class="icon-share-alt"></i></a>
                                {% endif %}
                            {% endfor %}
                        {% endspaceless %}</span>

                        {# LADL table: inline editing and links #}
                        <span class="frameset_editable" data-text="{{node.ladl_string}}" data-field="ladl_string">{% spaceless %}
                            {% for text, class_name in node.ladl_parts %}
                                {{ text }}
                                {% if class_name %}
                                    <a href="http://verbenet.pradet.me/verbes-html/V_{{class_name}}.lgt.html" class="external"><i class="icon-share-alt"></i></a>
                                {% endif %}
                            {% endfor %}
                        {% endspaceless %}</span>
                        {% if user.is_authenticated %}
                            <button class="btn remove_subclass" data-frameset_id="{{node.name}}"><i class="icon-remove"></i> Cacher</button>
                        {% endif %}
                    </h3>

                    <div class="frameset_editable" data-field="comment" data-text="{{node.comment|default:"∅"}}">
                        {{ node.comment|default:"∅"|linebreaks }}
                     </div>


                    <ul>
                    {# Paragon and comment #}
                    <li> Paragon :
                        <span class="frameset_editable" data-field="paragon">{% spaceless %}
                        {% if node.paragon %}
                            {{ node.paragon }}
                        {% else %}
                            ∅
                        {% endif %}
                        {% endspaceless %}</span>
                    </li>

                    {# Members #}
                    <li class="members">Membres :
                        {% if not node.verbnetmember_set.all %}
                            ∅
                        {% else %}
                            {% for word in node.verbnetmember_set.all %}<span>{{ word }}</span> {% endfor %}
                        {% endif %}
                    </li>

                    <li class="translations">Traductions :
                        {% if not node.verbtranslation_set.all %}
                            ∅
                        {% else %}
                            {% for word in node.verbtranslation_set.all%}
                                <span {% if word.category == 'unknown' or word.category == 'dicovalence' %} style="display:none" {% endif %} class="{{word.category}}" data-origin="{{word.origin}}">{{word.verb}}</span>
                            {% endfor %}
                        {% endif %}
                    </li>

                    {# Roles #}
                    <li>Roles :
                        {% if not node.verbnetrole_set.all %}
                            ∅
                        {% else %}
                            {% for role in node.verbnetrole_set.all %}
                                {{ role.name }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>

                    </ul>

                    {# Frames #}
                    {% for frame in node.verbnetframe_set.all %}
                        {% if not frame.removed %}
                            <div
                                class="{% if not frame.from_verbnet %}created_frame {% endif %} frame"
                                data-frameid="{{frame.id}}">
                                {% if user.is_authenticated %}
                                    <a class="remove_frame" href="#"><i class="right icon-remove"></i></a>
                                {% endif %}
                                <p><span class="frame_editable" data-field="syntax">{{ frame.syntax }}</span></p>
                                <table class="table">
                                    <tr><td>Exemple</td><td><span class="frame_editable" data-field="example">{% if frame.example %}{{ frame.example }}{% else %}∅{% endif %}</span></td></tr>
                                    <tr><td>Syntaxe</td><td><span class="frame_editable" data-field="roles_syntax">{% if frame.roles_syntax %}{{ frame.roles_syntax }}{% else %}∅{% endif %}</span></td></tr>
                                    <tr><td>Sémantique</td><td><span class="frame_editable" data-field="semantics">{% if frame.semantics %}{{ frame.semantics }}{% else %}∅{% endif %}</span></td></tr>
                                </table>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# Deleted frames #}
                    {% if node.has_removed_frames %}
                        <p>Frames supprimées :</p>
                        <ul>
                        {% for frame in node.verbnetframe_set.all %}
                            {% if frame.removed %}
                                <li id="frame_{{frame.id}}">{{ frame.syntax }} ({{ frame.example }})
                                {% if user.is_authenticated %}
                                    <button class="btn show_frame" data-frame_id="{{ frame.id }}"><i class="icon-repeat"></i> Réintégrer</button></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <p>
                          <button class="btn new_frame"><i class="icon-plus"></i> Ajouter une frame</button>
                        </p>
                        <div class="frame" style="display:none">
                            <form action="/add/" class="new_frame" method="POST">{% csrf_token %}
                                <p>
                                    <input type="text" name="syntax" placeholder="NP V NP" />
                                    <input type="hidden" name="type" value="frame" />
                                    <input type="hidden" name="frameset_id" value="{{node.id}}" />
                                    <input type="hidden" name="vn_class_id" value="{{classe.id}}" />
                                </p>
                                <table class="table">
                                    <tr><td>Exemple</td><td><input type="text" name="example" /></td></tr>
                                    <tr><td>Syntaxe</td><td><input type="text" name="roles_syntax" /></td></tr>
                                    <tr><td>Sémantique</td><td><input type="text" name="semantics" /></td></tr>
                                </table>
                                <p><button type="submit" value="Envoyer" class="btn btn-primary">Envoyer</button></p>
                            </form>
                        </div>
                        <p><button class="btn new_subclass" data-frameset_id="{{node.name}}"><i class="icon-chevron-right"></i> Ajouter une sous-classe</button></p>
                    {% endif %}
                {% endif %}

                {# Rinse and repeat with children #}
                {% if not node.is_leaf_node %}
                    {{ children }}
                {% endif %}
            </div>
            {% endrecursetree %}
        </article>

