{% extends "base.html" %}
{% load static %}

{% block title %}Erreurs d'analyse des frames Verb∋Net{% endblock %}

{% block all %}

<div class="container">

    <h2>Erreurs d'analyse des frames Verb∋Net</h2>

    <p>Cette page liste les erreurs d'analyse des frames.
    Deux raisons possibles : soit il faut changer la
    frame, soit il faut changer l'analyse elle-même.
    {{ ratio }} des frames ont été traitées correctement
    ({{frames_ok}} / {{frames_total}}). Le reste a donné
    lieu à des erreurs : </p>

    <ul>
    {% for issue, frame_list in issues.items %}
        <li>{{ issue }}</li>
        <ul>
        {% for frame in frame_list %}
            <li><a href="/class/{{frame.frameset.verbnet_class.levin_class.number}}/#frame_{{frame.id}}">#</a> {{frame.syntax}}, {{frame.roles_syntax}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>


</div>

{% endblock all %}

