{% extends "base.html" %}
{% load static %}

{% block all %}

<div class="container">
<div class="row-fluid">

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% for class in levin_classes %}
          {% spaceless %}{% if class.number == active_class.number %}
              <li class="active"><a href="/class/{{class.number}}">{{ class.number }}: {{ class.name }}</a></li>
            {% else %}
              <li><a href="/class/{{class.number}}/">{{ class.number }}: {{ class.name }}</a></li>
            {% endif %}
           {% endspaceless %}{% endfor %}
        </ul>
      </div>
    </div>

    <div class="span9">

      <h1>{% block page_title %}{{ active_class.number }}: {{ active_class.name }}{% endblock page_title %}</h1>
 
      {% block content %}
        {% for classe in verbnet_classes %}
            {% include "classe.html" %}
        {% endfor %}
      {% endblock content %}
    </div>
  </div>

</div> <!-- /container-fluid -->
{% endblock all %}
