{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load syntacticframes_extras %}

{% block all %}

<div class="container">
<div class="row-fluid">

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% for class in levin_classes %}
          {% spaceless %}{% if class.number == active_class.number %}
              <li class="active"><a href="#">{{ class.number }}: {{ class.name }}</a></li>
            {% else %}
              <li><a href="/class/{{class.number}}/">{{ class.number }}: {{ class.name }}</a></li>
            {% endif %}
           {% endspaceless %}{% endfor %}
        </ul>
      </div>
    </div>

    <div class="span9">

      <h1>{% block page_title %}{{ active_class.number }}: {{ active_class.name }}{% endblock page_title %}</h1>
 
      {% block content %}
        {% for classe in verbnet_classes %}
        <article>
            {# Title: class name and LVF/LADL #}
            <h2 id="{{classe.name}}">

                {# LVF class: inline editing and links #}
                <a class="verbnet" href="http://verbs.colorado.edu/verb-index/vn/{{classe.name}}.php">{{classe.name}}</a>
                <span class="vnclass_editable" data-field="lvf">{% spaceless %}
                    {% if classe.lvf_string %}
                        {{ classe.lvf_string }}
                    {% else %}
                        ∅
                    {% endif %}
                {% endspaceless %}</span>
                {% if classe.lvf_string and classe.lvf_string != '∅' %}
                    <a href="http://rali.iro.umontreal.ca/Dubois/classe/{{classe.lvf_string}}.html" class="external" href="#"><i class="icon-share-alt"></i></a>
                {% endif %}

                {# LADL table: inline editing and links #}
                <span class="vnclass_editable" data-field="ladl">{% spaceless %}
                    {% if class.ladl_string %}
                         {{ classe.ladl_string }}
                    {% else %}
                        ∅
                    {% endif %}
                {% endspaceless %}</span>
                {% if classe.ladl_string and classe.ladl_string != '∅' %}
                    <a href="http://verbenet.pradet.me/verbes-html/V_{{classe.ladl_string}}.lgt.html" class="external" href="#"><i class="icon-share-alt"></i></a>
                {% endif %}

            </h2>

            <p>{{classe.paragon}}{%if classe.comment %} | {{classe.comment}}{% endif %}</p>
            {% for name, frameset in framesets.items %}
                {{ name }}
               {% if name == classe.name %}{{ frameset.verbnet_class.name }}{% endif %}
            {% endfor %}
            {% recursetree classe.verbnetframeset_set.all %}
            <p>Sous-classe {{node.name}} :</p>
            <ul>
                <li>Membres : {% for word in node.verbnetmember_set.all %}{{ word }} {% endfor %}</li>
                <li>Traductions :</li>
                    <ul class="evaluate invalid">
                        {% for word in node.verbtranslation_set.all|sort_translations %}
                        <li  {% if word.category == 'unknown' or word.category = 'dicovalence' %} style="display:none" {% endif %} class="{{word.category}}" data-origin="{{word.origin}}">{{word.verb}}, </li>
                        {% endfor %}
                    </ul>
                <li>Frames :</li>
                    {% for frame in node.verbnetframe_set.all|is_removed:False %}
                    <div class="frame" data-frameid="{{frame.id}}">
                    <a class="remove_frame" href="#"><i class="right icon-remove"></i></a>
                    <p><span class="frame_editable" data-field="syntax">{{ frame.syntax }}<span></p>
                    <table class="table">
                        <tr><td>Exemple</td><td><span class="frame_editable" data-field="example">{{ frame.example }}</span></td></tr>
                        <tr><td>Syntaxe</td><td><span class="frame_editable" data-field="roles_syntax">{{ frame.roles_syntax }}<span></td></tr>
                        <tr><td>Sémantique</td><td>{{ frame.semantics }}</td></tr>
                    </table>
                    </div>
                    {% endfor %}
                {% if node.verbnetframe_set.all|is_removed:True %}
                <li>Frames supprimées :</li>
                    <ul>
                    {% for frame in node.verbnetframe_set.all|is_removed:True %}
                        <li>{{ frame.syntax }} ({{ frame.example }})</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
                </ul>
                {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
                {% endif %}

            </ul>
            {% endrecursetree %}
        </article>
        {% endfor %}
      {% endblock content %}
    </div>
  </div>

</div> <!-- /container-fluid -->
{% endblock all %}
