{% extends "base.html" %}
{% load static %}

{% block title %}{{ active_class.number }} : {{ active_class.name }}{% endblock %}

{% block all %}

<div class="container">
<div class="row">

<div class="col-md-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% for class in levin_classes %}
            <li class="
            {% if class.number == active_class.number %}
              selected
            {% endif %}
            {{ class.translation_status }}
            ">

            <a href="/class/{{class.number}}/">{{ class.number }}: {{ class.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-9">


      <h1 class="{{ active_class.translation_status }}">
        <span class="text">{{ active_class.number }}: {{ active_class.name }}</span>
        {% if user.is_authenticated and active_class.translation_status == 'INPROGRESS' %}
            <button data-levinid="{{active_class.number}}" class="btn btn-default validate_class"><span class="glyphicon glyphicon-ok"></span> Valider</button>
            <button data-levinid="{{active_class.number}}" class="btn btn-default remove_class"><span class="glyphicon glyphicon-remove"></span> Cacher</button>
        {% endif %}
      </h1>

      {% if user.is_authenticated and duplicate_translations %}
        <div class="well duplicatetranslations">
            <p>Voici les verbes validés dans plusieurs classes :</p>
            <ul>
            {% for translation, frameset_list in duplicate_translations %}
                <li>{{ translation }} :
                    {% for frameset in frameset_list %}
                    <a href="#{{frameset.name}}">{{ frameset.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}

      <div class="levin_editable" data-levinnumber="{{active_class.number}}" data-text="{{ active_class.comment|default:"∅" }}">
            {{ active_class.comment|default:"∅"|linebreaks }}
      </div>

      {% block content %}
        {% for classe in verbnet_classes %}
            {% include "classe.html" %}
        {% endfor %}
      {% endblock content %}
    </div>
  </div>

</div> <!-- /container-fluid -->
{% endblock all %}
