{% extends "base.html" %}
{% load static %}

{% block title %}Index inversé des tables du LADL{% endblock %}

{% block all %}

<div class="container">

    <h2>Index inversé des tables du LADL</h2>

    <table class="table ladlindex">
        <tr><th>Classe LADL</th><th>Classe Verb∋Net</th></tr>
        {% for ladl, group in inversed_ladl.items %}
        <tr>
            <td><p class="ladl">{{ladl}} <a class="external" href="/public/verbes-html/V_{{ladl}}.lgt.html"><span class="glyphicon glyphicon-share-alt"></span></a></p></td>
            <td>
            {% for ladl_number, ladl_fs_list in group.items %}
                    {% for frameset in ladl_fs_list %}
                    <a class="fs_removed_{{frameset.removed}}" href="/class/{{ladl_number}}/#{{frameset.name}}">{{frameset.name}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
            {% if not forloop.last %} &mdash; {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock all %}
