{% extends "base.html" %}
{% load static %}

{% block all %}

<div class="container">

<h2>Statistiques</h2>
<p>VerbeNet contient {{ num_classes }} classes, contenant en tout {{ num_members }} membres anglais ({{ unique_members }} uniques) pour {{ num_verbs }} verbes français ({{unique_verbs}} uniques).</p>

<h2>Annotations sans traductions</h2>
<table class="table emptytranslations">
<thead>
    <tr><th>Classe</th><th class="entry">Entrée</th><th>Membres</th></tr>
</thead>
<tbody>
{% for fs, url, resource, entry, members in empty_translations_errors %}
    <tr><td><a href="{{url}}">{{ fs }}</a></td><td class="entry {{resource}}">{{ entry }}</td><td>{{ members }}</td></tr>
{% endfor %}
</tbody>
</table>

</div>

{% endblock all %}
